# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

task2/.vs/task2/v15/.suo
task2/.vs/task2/v15/Browse.VC.db
task2/.vs/task2/v15/Browse.VC.opendb
#task2/task2/Debug/*
#task2/task2/Release/*
#task2/Debug/*
#task2/Release/*